<base href="{{serverUrl}}" />
<script type="module">
  import { injectIntoGlobalHook } from "{{serverUrl}}/@react-refresh";
  injectIntoGlobalHook(window); window.$RefreshReg$ = () => {};
  window.$RefreshSig$ = () => (type) => type;
  window.__vite_plugin_react_preamble_installed__ = true;
</script>
<script type="module" src="{{serverUrl}}/@vite/client"></script>
<div id="root"></div>
<script type="module">
  import('{{serverUrl}}/src/widgets/{{widgetName}}.tsx');
</script>