<base href="{{serverUrl}}" />
<div id="root"></div>
<script type="module">
  import('{{serverUrl}}/assets/{{widgetName}}');
</script>
<link rel="stylesheet" crossorigin href="{{serverUrl}}/assets/{{styleName}}" />